<h1>POST Request Received</h1>

<h2>Your name is {{name}}. You live in {{location}}. Your favourite color is : {{color}}. You study at {{school}},
    majoring in {{major}}. </h2>


<h3>Here are your URL parameters.</h3>
<table border="border: 1px solid #333">
    <thead>
        <tr>
            <th>Parameter Name</th>
            <th>Parameter Value</th>
        </tr>
    </thead>
    <tbody>

        <tr>
            <td>schhol</td>
            <td>{{school}}</td>
        </tr>

        <tr>
            <td>major</td>
            <td>{{major}}</td>
        </tr>

    </tbody>

</table>







<h3>Here are your JSON parameters.</h3>
<table border="border: 1px solid #333">
    <thead>
        <tr>
            <th>Parameter Name</th>
            <th>Parameter Value</th>
        </tr>
    </thead>
    <tbody>
        {{#each dataList}}
        <tr>

            <td>{{this.name}}</td>
            <td>{{this.value}}</td>
        </tr>
        {{/each}}
    </tbody>

</table>