<h1>POST Request Received</h1>

<h2>Your name is {{name}}. You live in {{location}}. Your favourite color is : {{color}} </h2>

<h3>Here are your parameters.</h3>
<ul>
    {{#each dataList}}
    <li>{{this.name}} : {{this.value}}</li>
    {{/each}}
</ul>